{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextGenCV</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  {% include "NextGenCV/navbar.html" %}
  <footer id="footer">
    <div class="col col1">
      <h3>NextGenCV</h3>
      <p>Made with <span style="color: #BA6573;">❤</span> by MustafaPinjari</p>
      <div class="social">
        <a href="https://www.linkedin.com/in/mustafa-pinjari-287625256/" target="_blank" class="link">
          <img src="{% static "images/linkedin.png" %}" alt="LinkedIn" />
        </a>
        <a href="https://github.com/MustafaPinjari" target="_blank" class="link">
          <img src="{% static "images/github.png" %}" alt="GitHub" />
        </a>
        <a href="https://www.instagram.com/its_ur_musuuu" target="_blank" class="link">
          <img src="{% static 'images/instagram.png' %}" alt="Instagram" />
        </a>
        <a href="https://codepen.io/-MUSTAFA-" target="_blank" class="link">
          <img src="{% static "images/codepen.png" %}" alt="codepen" />
        </a>
        <a href="https://stackoverflow.com/users/26745237/mustafapinjari)" target="_blank" class="link">
          <img src="{% static "images/stackoverflow.png" %}" alt="stackoverflow" />
        </a>
        <a href="https://leetcode.com/u/Mustafa_Pinjari/" target="_blank" class="link">
          <img src="{% static "images/leetcode.png" %}" alt="LeetCode" />
        </a>
      </div>
      <p style="color: #818181; font-size: smaller">2024 © All Rights Reserved</p>
    </div>
    <div class="col col2">
      <p>About</p>
      <p>Our mission</p>
      <p>Privacy Policy</p>
      <p>Terms of service</p>
    </div>
    <div class="col col3">
      <p>Services</p>
      <p>Products</p>
      <p>Join our team</p>
      <p>Partner with us</p>
    </div>
    <div class="backdrop"></div>
  </footer>
</body>
</html>
