{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextGenCV</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  {% include "NextGenCV/navbar.html" %}

  {% comment %} Hero Section {% endcomment %}
  <section class="hero-section">
    <div class="hero-content">
      <h1>Welcome to NextGenCV</h1>
      <p>Your journey to the perfect resume starts here.</p>
    </div>
  </section>

  <div class="container">
    <div class="left-side">
      <p>Create a beautiful resume quickly with the help of artificial intelligence and our customizable templates. Impress your future employer with a perfect resume created in minutes.</p>

      <button>
        <span class="text">Create Resume</span>
      </button>
      <button>
        <span class="text">See Example</span>
      </button>

    </div>
    <div class="card">
      <a href="#footer">
        <img src="{% static 'images/ResumeSample.png' %}" alt="Resume Image">
      </a>
    </div>

  </div>
  {% comment %} Templates {% endcomment %}
  {% include "NextGenCV/ResumeTemplates.html" %}
 {% comment %} Footer {% endcomment %}
 {% include "NextGenCV/Footer.html" %}
</body>
</html>
