{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextGenCV</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  {% include "NextGenCV/navbar.html" %}

  {% comment %} Hero Section {% endcomment %}
  <section class="hero-section">
    <div class="hero-content">
      <h1>Welcome to NextGenCV</h1>
      <p>Your journey to the perfect resume starts here.</p>
    </div>
  </section>

  <div class="container">
    <div class="left-side">
      <p>Create a beautiful resume quickly with the help of artificial intelligence and our customizable templates. Impress your future employer with a perfect resume created in minutes.</p>

      <button>
        <span class="text">Create Resume</span>
      </button>
      <button>
        <span class="text">See Example</span>
      </button>

    </div>
    <div class="card">
      <a href="#footer">
        <img src="{% static 'images/ResumeSample.png' %}" alt="Resume Image">
      </a>
    </div>

  </div>
  {% comment %} Templates {% endcomment %}
  {% include "NextGenCV/ResumeTemplates.html" %}
  <footer id="footer">
    <div class="col col1">
      <h3>NextGenCV</h3>
      <p>Made with <span style="color: #BA6573;">❤</span> by MustafaPinjari</p>
      <div class="social">
        <a href="https://www.linkedin.com/in/mustafa-pinjari-287625256/" target="_blank" class="link">
          <img src="{% static "images/linkedin.png" %}" alt="LinkedIn" />
        </a>
        <a href="https://github.com/MustafaPinjari" target="_blank" class="link">
          <img src="{% static "images/github.png" %}" alt="GitHub" />
        </a>
        <a href="https://www.instagram.com/its_ur_musuuu" target="_blank" class="link">
          <img src="{% static 'images/instagram.png' %}" alt="Instagram" />
        </a>
      </div>
      <p style="color: #818181; font-size: smaller">2024 © All Rights Reserved</p>
    </div>
    <div class="col col2">
      <p>About</p>
      <p>Our mission</p>
      <p>Privacy Policy</p>
      <p>Terms of service</p>
    </div>
    <div class="col col3">
      <p>Services</p>
      <p>Products</p>
      <p>Join our team</p>
      <p>Partner with us</p>
    </div>
    <div class="backdrop"></div>
  </footer>
</body>
</html>
